body{
    margin: 0%;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.continer{
display: flex ; 
flex-direction:column;
align-items: center ;
   justify-content: center; 
   background-image: url("../resources/Banner\ Image.png");
   filter: brightness(50%);
   height: 600px;
   padding: 50px 140px;
   background-repeat: no-repeat;
   background-size: contain;
background-position: center;
height: 600px;


}
.content h3 {
    color: #f0e8e8;
    font-size: 32px;
    font-weight: 400;
    font-family: Merriweather;
   
    

}
.content h2 {
    color: #f5ebeb;
    font-family: Merriweather;
    font-weight: 900;
    line-height: 95px;
    font-size: 72px;
    height: 190px;
    
}
.off{
    color: #F00;
    text-align: center;
    font-size: 88px;
}
.off-1{
    text-align: center;
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}
.off-2{
    color: #070211;
text-align: center;

font-size: 48px;
font-family: Inter;
font-weight: 700;
}
.new-year{
    display: flex;
    align-items: center;
    justify-content: center;
}


.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../resources/Vectorrr.png");
    background-repeat: no-repeat;
    padding: 50px 140px;
   background-repeat: no-repeat;
   background-size: contain;
background-position: center;
height: 600px;
width: 1650px;
display: flex;
margin-top: 40px;
margin-bottom: 40px;
}

.welcame-section{
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
letter-spacing: 7.04px;

}
 
.text-section{
    color: rgba(255, 255, 255, 0.80);

font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px; 
}
.welcome-btn{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background: #070211;
}
.welcome-image{
height: 500px;
ruby-position: right;
}
.dis{
    padding: 130px;
    border-radius: 10px;
    background:#ecc3a6;
    width: 1240px;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
}
.tit{

    color:#070211;;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    text-align: center;
    background-color:;
}
.dot{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 56px; 
text-transform: capitalize;
}
.btn{
    color:#FFF;
    background-color: #F00;
    bottom: center;

   
}
.best-offer{
    display: flex;
    justify-content: space-between;
    margin: 10%;
}
.title{
    color: #F00;

font-size: 24px;
font-weight: 500;
font-family: Inter;

}
.title-1{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
}
.descaption{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px; 

}
.title-3{color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    
}

.title-5
    width: 140px;
height: 140px

.clomn-2{
    /* text-align: right; */
    
}
section cloam{
    display: flex;
}

.carcal{
    text-align: center;
}
.eill{
    /* border: 30px solid red; */
    border-radius: 50%;
    /* width: 463px; */
    /* height: 463px; */

}
.eill-img{
    /* width: 364px; */
    /* height: 364px; */
border-radius: 50%;
padding-top:0;
}


.FUNCTIONAL{
    text-align: center;
}

.f-1{
    color: #070211;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.f-2{
    color: #070211;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
}
.holi{
    color: #F00;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
}
.f-3{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 32px;

}

.main-images{

    display: flex;
}
.Image{
    width: 429px;
height: 433px;
border-radius: 16px 16px 0px 0px;
}

.gift-coner{
margin: 10%;
}

.gift{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;

}

.Awesome{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
text-transform: capitalize;
}

.caption{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px;
}
.prodact-seaction{
    margin: 10%;
    border-radius: 15px;
}